.eventPopup{
	width : 300px;
	height : 150px;
	background : white;
	border: 0.2px solid silver;
	border-radius : 1em;
	position:absolute;
	z-index: 1;
	padding : 10px;
	-webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

.eventStart,.eventEnd,.eventCaption{
	display : block;
	margin: 10px;
}

.eventDetails{
	color : #3299CC;
}

.eventCaption{
	color : gray
}

.deleteBtn{
	position : absolute;
	bottom : 0;
	margin : 20px;
}

.editLinkBtntest{
	text-decoration:none;
	position : absolute;
	bottom: 0;
	right: 0;
	margin: 20px;
	}

.linkbtn{
	text-decoration : none;
	color:#000;
}