.menu{
	border-left : 1px solid #c0c0c0;
	background : white;
	border : 1px solid #c0c0c0;
	width: 170px;
	height: auto;
	padding : 10px;
	position:absolute;
	z-index: 1;
	max-height : auto;
}

.eventSpan{
	font-size : 14px;
	margin-top: -10px;
}

.tbodydiv{
	height: 100%;
	width: 100%;
}

.eventul{
padding-left: 0;
margin: 0 auto;
}

.eventCelli{
	background : #7a132f;
}

/*celldata*/

.cellli{
	background : #3299CC;
	width : 100%;
	color:white;
	font-size :16px;
	border : 0.2px solid silver;
	box-sizing : border-box;
	text-align : left;
	padding : 0.5px 8px 0.5px 3px;
	border-radius : 0.3em;
	overflow-x:hidden;
	overflow-y:hidden;
	white-space : nowrap;
	&:hover{
	cursor:pointer;
	}
}

.cellspan{
	font-size:14px;
	font-weight :bold;
	font-family :Verdana;	
}

