.meventdiv{
	/*border:1px solid black;*/
	margin-top: 15%;
}

.meventlabel{
	color:#FFF;
	font-weight: bold;
	margin-left: 5%;
	margin-bottom: 8%;
}

.meventItem{
	border:none;
	border-radius: 0.2em;
	margin-left: 10%;
	width: 80%;
	height:32px;
	padding-left: 10px;
}

.datepicker{
	margin-top: 10%;
	margin-left: 26%;
	margin-top: 22%
}

.mstart{
	display: block;
	margin-top: 5%;
	margin-left: 10%;
	color:#FFF;
}

.mend{
	display: block;
	margin-top: 5%;
	margin-left: 10%;
	color:#FFF;
}

.mtimepicker{
	width: 30%;
	margin-left: 10%;
	height: 32px;
}


.meventformButton{
	font-weight: bold;
	background-color: #000;
	color: #FFF;
	border: none;
	width: 110px;
	height : 30px;
	font-size: 15px;
	margin-left : 10%;
	margin-top: 5%;
	border-radius: 0.2em;
}