.monthtable{
	border-collapse: collapse;
    table-layout: fixed;
    height: 82%;
    float : left;
    margin: 0 8.5% 0 8.5%;
    align-content: center;
    /*border : 3px solid #c0c0c0;*/
}

@media screen and (max-width: 1050px){
	.monthtable{
		margin:0 auto;
	}
}
