.monthOpt{
	color:silver;
	display:inline;
	padding-right:30px;
	font-weight: bold;
	font-size: 15px;
	&:hover{
	cursor:pointer;
	}
}


.monthOptDiv{
	margin-top: 5%;
	margin-bottom: 1%;
	text-align: center;
	/*border:1px solid green;*/
}