@import '_eventPopup.styl';
@import '_eventDetail.styl';
@import '_tbodyItems.styl';
@import '_calendarViewWeekly.styl';
@import '_eventEdit.styl';
@import '_mdisplay.styl';
@import '_monthTable.styl';
@import '_monthOption.styl';
@import '_dropDown.styl';
@import '_mdisplay2.styl';
@import '_startpage.styl';



* { 
	padding: 0; 
	margin: 0; 
}
html{
	height: 100%;
}

body{
	overflow: hidden;
	height: 100%
	width: 100%;
}


/*EventForm*/




.button{
	float:right;
	text-align:center;
	height : 18px;
	width : 18px;
	padding:0px;
	font-weight : bold;
	cursor : pointer;
}




/*Header*/

input{
	height : 25px;
	margin-left: 20px;
}


/*TableHeader*/
.theadth{
	padding: 5px;
	border : 1px solid #c0c0c0;
	width : 100px;
	padding-top: 15px;
	align-content: justify;
	text-align: center;
}


.header{
	display: block;
	position: relative;
}

/*Time*/
.divtd{
	height: 100%;
	width: 100%;
}

.head{
	text-align: center;
}

.timeul{
	list-style: none;
	padding-left: 0;
	margin: 0 auto;
}


.calMonth{
	display : inline;	
	float: left;
}

.month{
	bottom:0;
	background : white;
}



.cal{
	width:70%;
	float:left;
	height: 100vh;
}



.facss{
	color:black;
}

.fa{
	position: relative;
	float:right;
}

.yrSpan{
	color:silver;
	font-weight: bold;
	font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
	float:right;

}

.caretL{
	color:gray;
	float:right;
	margin-top:1%;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.caretR{
	color: gray;
	float: right;
	margin-top:1%;
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}

.bars{
	display: inline;
	color: #FFF;
}

.fbars{
	margin-right: 10%;
	padding: 5px 8px 5px 8px;
	border-radius: 0.5em;
	&:hover{
		cursor:pointer;
	}
}

.fcaretr{
	margin-right: 50%;
	&:hover{
		cursor:pointer;
	}
}

.fcaretl{
	&:hover{
		cursor:pointer;
	}
}

.currentMonth{
	color:black;
	font-size: 16px;
}





.addSpace{
	height: 1vh;
}


