<!DOCTYPE html>
<html>
<head>
<script>
var OAUTHURL    =   'https://accounts.google.com/o/oauth2/auth?';
var VALIDURL    =   'https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=';
var SCOPE       =   'https://www.googleapis.com/auth/calendar';
var CLIENTID='732981475648-rvae53s3qed010el7a7vk6vm4o68m9i3.apps.googleusercontent.com';
var REDIRECT    =   'https://2d38a1b8.ngrok.io/oauth2callback'
var TYPE        =   'token';
var _url        =   OAUTHURL + 'scope=' + SCOPE + '&client_id=' + CLIENTID + '&redirect_uri=' + REDIRECT + '&response_type=' + TYPE;	
return window.open({{auth_uri}}, "windowname1", 'width=800, height=600');
</script>

</head>
<body>

</body>
</html>